# Python
__pycache__/
*.py[cod]

# Build
build/
dist/
*.build
*.dist
*.onefile-build

# IDE
.vscode/
.idea/

# Logs
*.log

# Local temp
*.tmp
*.bak

# Windows
Thumbs.db
Desktop.ini

# Nuitka output
*.exe